.footer {
  min-height: 200px;
  background-color: $bg;
  &_pink {
    background-color: $pinkBg;
  }
  &__wrapper {
    height: 200px;
    background: url('../img/promo_top-min.png') center (center/cover) no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  &__items {
    display: flex;
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    width: 670px;
    margin: 0 auto;
  }
  &__menu-item {
    color: $red;
    font-size: 32px;
    transition: all 0.3s;
    &:hover {
      text-decoration: none;
      color: $orange;
    }
    &_pink {
      color: $blue;
      &:hover {
        color: $textPink;
      }
    }
  }
  &__social {
    display: flex;
    justify-content: space-between;
    width: 170px;
    position: absolute;
    right: 140px;
    top: 35%;
  }
  &__copyright {
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    color: $red;
    transform: translateY(25px);
    &_pink {
      color: $blue;
    }
  }

  &__link {
    transition: .5s all ease;
    &:hover {
      transform: rotate(15deg);
    }
  }

  &__svg {
    transition: .5s all ease;
    path {
      transition: .5s all ease;
    }
    &:hover {
      fill: #FB8C2B;
      path {
        fill: #FB8C2B;
      }
    }
    &_pink {
      &:hover {
        fill: #634243;
        path {
          fill: #634243;
        }
      }
    }
  }

}